.calendar-header {
    text-align: center;
    background-color: #27272f;
    margin-bottom: 20px;
}
.calendar-header > div {
    display: inline;
}
.calendar-header > .header-prevmonth {
    float: left;
}
.calendar-header > .header-title {
    text-align: center;
    line-height: 48px;
}
.calendar-header > .header-nextmonth {
    float: right;
}
.calendar-cell {
    border: none;
    display: inline-block;
    width: 13%;
    margin: 1px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
}
.calendar-cell.selected {
    background-color: #27272f;
}
.calendar-prevdate, .calendar-nextdate {
    color: #aaaaaa;
}